{% extends "base.html" %}

{% block content %}

<h3>Chat Room</h3>

<div id="chat-box" style="height:300px; overflow-y:scroll; background:rgb(183, 106, 106); padding:10px;"></div>

<br>

<input type="text" id="message-input" placeholder="Type message">
<button class="btn" onclick="sendMessage()">Send</button>

<script>

const token = localStorage.getItem("access");
const conversationId = "{{ conversation_id }}";

const socket = new WebSocket(
    `ws://localhost:8000/ws/chat/${conversationId}/?token=${token}`
);

socket.onmessage = function(event) {

    const data = JSON.parse(event.data);

    // 📨 New message
    if (data.type === "message") {

        addMessage(
            data.sender + ": " + data.message,
            data.message_id,
            "delivered"
        );

        // send read status
        socket.send(JSON.stringify({
            type: "read",
            message_id: data.message_id
        }));

    }

    // 👁️ Read status
    if (data.type === "read") {

        const status = document.getElementById(`status-${data.message_id}`);

        if (status){
            status.innerHTML = "✓✓";
            status.style.color = "blue";
        }

    }

};

function addMessage(message, messageId, status="sent") {

    const chatBox = document.getElementById("chat-box");

    let tick = "✓";

    if (status === "delivered") tick = "✓✓";
    if (status === "read") tick = "✓✓";

    const msg = document.createElement("p");

    msg.innerHTML = `
        ${message}
        <span id="status-${messageId}" style="margin-left:8px">${tick}</span>
    `;

    chatBox.appendChild(msg);

    chatBox.scrollTop = chatBox.scrollHeight;

}

function sendMessage() {

    const input = document.getElementById("message-input");

    if (input.value.trim() !== "") {

        socket.send(JSON.stringify({
            type: "message",
            message: input.value
        }));

    }

    input.value = "";

}

async function loadOldMessages() {

    const response = await fetch(`/chat/api/conversations/${conversationId}/messages/`, {
        headers: {
            "Authorization": "Bearer " + token
        }
    });

    const data = await response.json();

    data.forEach(msg => {

        addMessage(
            msg.sender + ": " + msg.content,
            msg.id,
            "read"
        );

    });

}

loadOldMessages();

</script>

{% endblock %}