{% extends "base.html" %}

{% block content %}

<h3>Login</h3>

<input type="text" id="username" placeholder="Username"><br><br>
<input type="password" id="password" placeholder="Password"><br><br>

<button class="btn" onclick="login()">Login</button>

<script>
async function login() {
    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;

    const response = await fetch("/api/token/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            username: username,
            password: password
        })
    });

    const data = await response.json();

    if (data.access) {
        localStorage.setItem("access", data.access);
        window.location.href = "/conversations/";
    } else {
        alert("Login failed");
    }
}
</script>

{% endblock %}